[defaults]
inventory = ./hosts.yml
remote_user = ansible
forks = 5
interpreter_python = auto_silent
gathering = smart
roles_path = ./roles

[inventory]
enable_plugins = yaml

[privilege_escalation]
become = true
become_user = root
become_method = sudo

[ssh_connection]
pipelining = True
